%nav.navbar.navbar-default
  .container
    .navbar-header
      = link_to 'Peepmail', root_path, class: 'navbar-brand'
    - if current_user
      %ul.nav.navbar-nav.navbar-right
        %li= link_to 'Sign out', delete_sessions_path
